//generic

$box-shadow-light: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-strong: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);


//login/register Forms

$formwidth: 922px;
$formbackground: rgb(255, 255, 255);