.header {
  background: black;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 95px;
}

.header-button {
  color: whitesmoke !important;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  background-color: black;
  border: 2px solid whitesmoke !important;
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 2%;
  font-weight: 800;
  width: 120%;
  margin-right: 10%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.header-button:hover {
  color: #000000 !important;
  background: whitesmoke;
  border-color: #000000 !important;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-button:focus {
  -webkit-filter: drop-shadow(1px 1px 4px #f3e634);
          filter: drop-shadow(1px 1px 4px #f3e634);
}

#header-logged-out-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  height: 15vh;
  gap: 15px;
}

.logoImg {
  position: relative;
  left: 5%;
  top: 1%;
}

#header-logged-in-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 500px;
  height: 15vh;
  gap: 15px;
}

.logoHolder {
  position: absolute;
  left: 5%;
  top: 1%;
  outline: 3px solid white;
  width: 31vh;
  height: 13vh;
  background-image: url("../assets/images/baselogo.png");
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.logoHolder:hover {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.795);
          box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.795);
}

.lightbulb {
  position: relative;
  left: 50%;
  top: 5%;
  -webkit-filter: drop-shadow(0px -3px 3px #f3e634);
          filter: drop-shadow(0px -3px 3px #f3e634);
  -webkit-animation: flicker-in-1 5s linear 1.1s both;
  animation: flicker-in-1 5s linear 1.1s both;
}

.mobileButtonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 50px;
  background: black;
  padding: 50px;
  height: 84vh;
  width: 100vw;
  border: 4px solid white;
  z-index: 15;
}

.main-button {
  color: whitesmoke !important;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  margin: 0;
  margin-top: 30px;
  margin-right: 18px;
  border: none;
  font-weight: 800;
  font-size: 200%;
  border: 3px solid white;
}

.mobile-button {
  color: whitesmoke !important;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  margin: 2%;
  border: none;
  font-weight: 800;
  font-size: 200%;
  border: 3px solid white;
}

.mobile-button:hover {
  border: 3px solid white;
}

.logoHolderMobile {
  position: absolute;
  left: 5%;
  top: 1%;
  border: 3px solid white;
  width: 100px;
  height: 60px;
  margin-top: 15px;
  background-image: url("../assets/images/baselogo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=header.css.map */