@import './presets';
@import './variables';
.header {
  background: rgb(255,255,255);
background: linear-gradient(20deg, rgba(255,255,255,1) 4%, rgba(0,0,0,1) 55%);
box-shadow:$box-shadow-light;
  height: 15vh;
}
.header-button {
  @include basicButton;
  width:120%;
  margin-right:10%;
  flex-shrink: 3;
}

.header-button:hover {
  @include basicButtonHover
}

#header-logged-out-button-box {
  @include flexCenter; 
  @include spaceEvenly;
  width:20%;
  height:15vh;
  margin-right:5%;
}

.logoImg {
  position:absolute;
  left: 5%;
  top: 1%;
}

#header-logged-in-button-box {
  @include flexCenter; 
  @include spaceEvenly;
  width:40%;
  height:15vh;
  margin-right:5%;
}
