html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  background: whitesmoke;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: gray;
}

*::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 3px;
  border: 2px solid #333030;
}

.errormessage {
  margin-top: 20px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 5px;
}

.loginBox {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 922px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 493px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  margin-right: -10%;
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.loginForm button {
  color: whitesmoke !important;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  background-color: black;
  border: 2px solid whitesmoke !important;
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 2%;
  font-weight: 800;
  position: relative;
  left: 7.5px;
}

.loginForm button:hover {
  color: #000000 !important;
  background: whitesmoke;
  border-color: #000000 !important;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.loginForm .loginTitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5%;
  margin-bottom: 15%;
  font-weight: 800;
  border: 2px solid black;
  text-transform: uppercase;
  padding-left: 1%;
  padding-right: 1%;
}

.loginForm input {
  padding: 15px;
  margin: 2%;
  width: 50%;
}

.loginForm .iconHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginForm .iconHolder .icon {
  width: 15px;
}

.loginFormImg {
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.forgottenPassword {
  text-decoration: underline;
  font-weight: 300;
  font-size: 70%;
  position: relative;
  top: 320px;
  margin: 0;
  margin-right: 20px;
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

@media screen and (max-width: 880px) {
  .loginBox {
    margin-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  .loginForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 493px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  }
  .loginForm button {
    color: whitesmoke !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    background-color: black;
    border: 2px solid whitesmoke !important;
    display: inline-block;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin: 2%;
    font-weight: 800;
    position: relative;
    left: 35px;
  }
  .loginForm button:hover {
    color: #000000 !important;
    background: whitesmoke;
    border-color: #000000 !important;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .loginForm .loginTitle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 5%;
    margin-bottom: 15%;
    font-weight: 800;
    border: 2px solid black;
    text-transform: uppercase;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 20px;
    margin-left: 75px;
  }
  .loginForm input {
    padding: 15px;
    margin: 2%;
    width: 50%;
    position: relative;
    left: 20px;
    margin-left: 0;
    width: 200px;
  }
  .loginForm .iconHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    left: 20px;
  }
  .loginForm .iconHolder .icon {
    width: 10px;
  }
  .loginFormImg {
    display: none;
    -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .forgottenPassword {
    text-decoration: underline;
    font-weight: 300;
    font-size: 70%;
    position: relative;
    top: 320px;
    left: -120px;
    margin: 0;
    margin-right: 20px;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  }
  h2.forgottenTitle {
    width: 200px;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=loginForm.css.map */