@import './presets';
@import './variables';
@import './globals';

.loginBox {
    margin-top:10vh;
    display:flex;
    width: $formwidth;
    justify-content: flex-end;
    box-shadow:$box-shadow-light;
    background-color: $formbackground;
    @include centerElement;
}

.loginForm {
    @include flexCenter;
    @include forms;
    margin-right:-10%;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;

    button {
        @include basicButton;
        position:relative;
        left:7.5px;
    }

    button:hover {
        @include basicButtonHover;
    }

    .loginTitle {
        align-self: flex-start;
        @include formTitle;
    }

    input {
        @include formInput;
    }
    .iconHolder {
        @include iconPlacement;
        .icon{
            width:15px;
        }
    }
}
.loginFormImg {
    -webkit-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.forgottenPassword {
    text-decoration: underline;
    font-weight:300;
    font-size:70%;
    position:relative;
    top:320px;
    margin:0;
    margin-right:20px;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
@media screen and (max-width: 880px) {
  .loginBox {
    margin-top:10vh;
    display:flex;
    width: 300px;
    justify-content: center;
    box-shadow:$box-shadow-light;
    background-color: $formbackground;
}

.loginForm {   
    @include flexCenter;
    @include forms;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;

    button {
        @include basicButton;
        position:relative;
        left:35px;
    }

    button:hover {
        @include basicButtonHover;
    }

    .loginTitle {
        align-self: center;
        @include formTitle;
        margin-bottom: 20px;
        margin-left:75px;
    }

    input {
        @include formInput;
        position:relative;
        left:20px;
        margin-left:0;
        width:200px;
    }

    .iconHolder {
        @include iconPlacement;
        position:relative;
        left:20px;
        .icon{
            width:10px;
        }
    }
}
.loginFormImg {
  display:none;
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.forgottenPassword {
  text-decoration: underline;
  font-weight:300;
  font-size:70%;
  position:relative;
  top:320px;
  left:-120px;
  margin:0;
  margin-right:20px;
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
}
//Animations

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }