#main {
  min-width: 450px;
  border: solid rgb(24, 24, 24) 5px;
  padding: 20px;
  margin: 50px;
  height: max-content;
  background-color: rgb(236, 236, 236);
}

.memeFeedTitle {
  font-size:200%;
}

@media screen and (max-width: 880px) {
  #main {
    min-width: 200px;
    border: solid rgb(24, 24, 24) 5px;
    padding: 5px;
    margin: 0px;
    height: max-content;
    background-color: rgb(236, 236, 236);
  }
}