@import './presets';
@import './variables';
@import './globals';

.registerBox {
    margin-top:10vh;
    display:flex;
    width: $formwidth;
    justify-content: flex-start;
    box-shadow:$box-shadow-light;
    background-color: $formbackground;
    @include centerElement;
}

.registerForm {   
    @include flexCenter;
    @include forms;
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;

    button {
        @include basicButton;
        position:relative;
        left:7.5px;
    }

    button:hover {
        @include basicButtonHover;
    }

    .registerTitle {
        align-self: flex-start;
        @include formTitle;
        margin-bottom: 20px;
    }

    input {
        @include formInput;
    }

    .iconHolder {
        @include iconPlacement;
        .icon{
            width:15px;
        }
    }
}

.registerFormImg {
    max-width:65vh;
    max-height:75vh;
    -webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

//Animations

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }